<head>
	<link rel="stylesheet" type="text/css" href="css/chat.css">
</head>

<!-- <ion-view view-title="Chat" name="chat-view" id="chat-view">
<div class="list">
			
			<a class="item item-avatar" >
						<img src="img/girl.png" style="margin-top:2%;">
						<div class="triangle-border left"> lemmons and marsha and melrose and mendle</div>
			</a>
		
			<a class="item ">
				
					<div class="item-avatar right-chat">
								<img src="img/girl.png">
								<div class="triangle-border right"> lemmons </div>
					</div>
				
			</a>
		
</div>


<div class="bar bar-footer">
		<div class="item-input-inset">
				<label class="item-input-wrapper">
						<input type="text" placeholder="Email">
				</label>
				<button class="button button-small">
				Submit
				</button>
		</div>
</div>

</ion-view> -->

<ion-pane class="messaging-view">
<ion-header-bar class="bar-calm">
<h1 class="title">Ioinc Chat</h1>
</ion-header-bar>

<ion-content class="content-stable"
on-tap="showTime = !showTime" style="background: #B1BE44">

<div ng-repeat="message in messages">
	
	<a class="item ">
		<div class="item-avatar" ng-class="{'right-chat' : message.id == 'me'}">
			<img src="img/girl.png">
			<div class="triangle-border" ng-class="message.id=='me' ? 'right' : 'left'">{{message.text}}</div>
		</div>
	</a>
	
</div>

</ion-content>

	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message"/>
		</label>
		<button class="button button-clear" ng-click="sendMessage()">
		Send
		</button>
	</ion-footer-bar>
</ion-pane>