<head>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<ion-view view-title="Login" name="login-view" class="lalo-blue" id="login-view">
<div class="row">
  <div class="col">
    <center>
    <img src="img/lalo_logo.svg" class="lalo-logo" />
    </center>
  </div>
</div>

<div class="row">
  <div class="col center grand-hotel" >
    <h1 class="grand-hotel font-white font-large">Lalo </h1>
  </div>
</div>

<center>
<div class="row" style="width: 80%">
  <div class="list list-inset login-form">
    <label class="item item-input item-floating-label" >
    <span class="input-label" style="color: white">username</span>
      <input type="text" placeholder="username"  >
    </label>
    
    <label class="item item-input item-floating-label" style="border-radius: 0px;">
    <span class="input-label" style="color: white">Password</span>
      <input type="password" placeholder="password" class="font-white">
    </label>
    <button class="button button-block font-white" > Login</button>
  </div>
  
</div>
</center>


<div class="row">
  <div class="col center">
    <p> Not a member? </p>
  <a href="#register"><h5 class="font-white font-medium"> Sign up now! </h5></a>
  </div>
</div>
</ion-view>