<head>
  <link rel="stylesheet" type="text/css" href="css/chat.css">
</head>

<ion-view view-title="Chat" name="chat-view" id="chat-view">
	<div class="triangle-border left"> lemmons</div>
</ion-view>
