<head>
  <link rel="stylesheet" type="text/css" href="css/contacts.css">
</head>

<div class="bar bar-header lalo-blue" ng-hide="hideSearch"">
  <button class="button button-clear icon ion-ios-arrow-left" style="color: white"></button>
  <div class="col col-80 nav-bar-buf" >
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" class="nav-search-input">
    </label>
  </div>
  <div class="col nav-bar-buf">
    <button class="button button-clear" ng-click="hideSearch = !hideSearch">
    <i class="icon ion-ios-close-outline placeholder-icon" style="color: white" ></i>
    </button>
  </div>
</div>


<div class="bar bar-header lalo-blue" ng-show="hideSearch"">
  <button class="font-white button button-clear icon ion-ios-arrow-left" style="color: white"></button>
  <h1 class="title font-white">Contacts</h1>
  <button class="button button-clear icon ion-ios-search" style="color: white" ng-click="hideSearch = !hideSearch"></button>
</div>


<ion-view view-title="Contacts" name="contacts-view" id="contacts-view">

<ion-content>
<ion-refresher on-refresh="doRefresh()"></ion-refresher>
<ion-list>
<div ng-repeat="contact in contacts track by $index">
  <a class="item item-avatar" href="#">
    <img src="{{contact.img}}">
    <h2>{{contact.name}}</h2>
    <p class="message-sample">{{contact.message}}</p>
    <i class="icon ion-ios-arrow-right placeholder-icon pull-right" ></i>
  </a>
</div>
</ion-list>
</ion-content>

</ion-view>