
<link rel="stylesheet" type="text/css" href="css/register.css">
<div>

<ion-view view-title="Register" name="register-view" class="lalo-blue"  id="register-view">

<div class="bar bar-header top-nav">
<a href="#login" class="button icon-left ion-chevron-left button-clear button-light"></a>
  <h1 class="title grand-hotel font-white" id="register-title">Lalo</h1>
</div>

<center>
<div class="row" style="width: 80%">
  <div class="list list-inset register-form">

    <label class="item item-input" >
      <input type="text" placeholder="firstname"  >
    </label>
    <label class="item item-input" >
      <input type="text" placeholder="lastname"  >
    </label>
    <label class="item item-input" >
      <input type="text" placeholder="email"  >
    </label>
    <label class="item item-input" >
      <input type="password" placeholder="password"  >
    </label>
    <label class="item item-input" >
      <input type="password" placeholder="gender"  >
    </label>
    
    <button class="button button-block font-white" > Sign Up</button>
  </div>
  
</div>
</center>

</ion-view>