
#register-title {
	font-size: 45px;
}

.top-nav{
	background: #0c8fc7;
	border: none;
}

.register-form {
	width: 100%;
	background: #0c8fc7;
	border-radius: 0px;
	margin-top: 10vh;
}

input[type="text"], input[type="password"]
{
    color: white;
}

*::-webkit-input-placeholder {
  color: white !important;
}
*:-moz-placeholder {
  color: white !important;
}
*:-ms-input-placeholder { /* IE10+ */
  color: white !important;
}

.register-form > label {
	background: #0c8fc7;
	border: 0px;
	border-bottom: 1px solid white;
	padding-bottom: 0px;
	margin-bottom: 7vh;
}

.register-form button {
	font-family: 'ABeeZee', sans-serif;
	background-color: #0a729e;
	border: 0px;
	font-size: 35px
}


.register-form  button:hover {
	font-size: 35px;
	border: 1px solid white;
	background-color: #0a729e;
	color: white;
}