.triangle-border {
  width:75%;
  position:relative;
  padding:15px;

  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;

  /* css3 */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.right{
    background:#C70004;
    border:5px solid #C7A831;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:20px;
  background:#BBC7C6;
  border:5px solid #BBC7C6;
  color: #333636
}

.triangle-border.right {
  margin-right:20px;
  background:#0c8fc7;
  border:5px solid #0c8fc7;
  color: white;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  border-style:solid;
}


/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:15px; /* controls vertical position */
  bottom:auto;
  left:-20px; 
  border-width:10px 15px 10px 0;
  border-color:transparent #BBC7C6;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-20px; /* value = - border-left-width - border-right-width */
  border-width:10px 0 10px 15px;
  border-color:transparent #0c8fc7;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
}

.right-chat > img {
  margin-left: 80vw; margin-top: 1vh;
}

