#contacts-view {
	background: #CBC8CC;
	margin-top: 6vh;
}

.top-nav {
	background: #0c8fc7;
	border: none;
}

.nav-search-input{
	font-size: 9000px;
	background: none;
	width: 100%;
}

.nav-bar-buf {
	margin-top: -7px;
}

.pull-right {
position: absolute;
right: 10px;
top: 32%;
font-size:30px;
}

.message-sample {
	width: 90%;
}