.lalo-logo {
	width: 35%;
	padding-top: 0vh;
}

.login-form {
	width: 100%;
	background: #0c8fc7;
	border-radius: 0px;
}

input[type="text"], input[type="password"]
{
    color: white;
}

*::-webkit-input-placeholder {
  color: white !important;
}
*:-moz-placeholder {
  color: white !important;
}
*:-ms-input-placeholder { /* IE10+ */
  color: white !important;
}

.login-form > label {
	background: #0c8fc7;
	border: 0px;
	border-bottom: 1px solid white;
	padding-bottom: 0px;
	margin-bottom: 5vh;
}

.login-form  button {
	font-family: 'ABeeZee', sans-serif;
	background-color: #0a729e;
	border: 0px;
	font-size: 35px;
}

.login-form  button:hover {
	font-size: 35px;
	border: 1px solid white;
	background-color: #0a729e;
	color: white;
}