/* Empty. Add your own CSS if you like */
* {
	font-family: 'ABeeZee', sans-serif;
	color: white;
}

.lalo-blue {
	background: #0c8fc7;
}

.grand-hotel {
	font-family: 'Grand Hotel', cursive;
}

.font-white {
	color: white;
}

.font-medium {
	font-size: 25px
}

.font-large {
	font-size: 90px
}

.center{
     text-align:center;
}
